@keyframes threelist {
  from {
    opacity: 0 0;
    background-position-y: 140px;
  }

  25% {
    opacity: 0 0;
    background-position-y: 140px;
  }

  50% {
    opacity: 1 0;
    background-position-y: 140px;
  }

  to {
    opacity: 1 0;
    background-position-y: -40px;
  }
}

@keyframes bigwords {
  from {
    opacity: 1;
    top: 74vw;
  }

  33% {
    opacity: 1;
    top: 74vw;
  }

  66% {
    opacity: 1;
    top: 28vw;
  }

  to {
    opacity: 0;
    top: 28vw;
  }
}

@keyframes littlewords {
  from {
    opacity: 1;
    top: 95vw;
  }

  33% {
    opacity: 1;
    top: 95vw;
  }

  66% {
    opacity: 1;
    top: 4vw;
  }

  to {
    opacity: 0;
    top: 4vw;
  }
}
