@keyframes threelist {
  from {
    opacity: 0 0;
    background-position-y: 140px;
  }

  25% {
    opacity: 0 0;
    background-position-y: 140px;
  }

  50% {
    opacity: 1 0;
    background-position-y: 140px;
  }

  to {
    opacity: 1 0;
    background-position-y: -40px;
  }
}

@keyframes bigwords {
  from {
    opacity: 1;
    top: 42.2vh;
  }

  33% {
    opacity: 1;
    top: 42.2vh;
  }

  66% {
    opacity: 1;
    top: 16.5vh;
  }

  to {
    opacity: 0;
    top: 16.5vh;
  }
}

@keyframes littlewords {
  from {
    opacity: 1;
    top: 30vh;
  }

  33% {
    opacity: 1;
    top: 30vh;
  }

  66% {
    opacity: 1;
    top: 10vh;
  }

  to {
    opacity: 0;
    top: 10vh;
  }
}
